body    {
    margin: 0;
}

.main   {
    background-image: url('./anakin.png');
    height: 800px;
    color: lightgray;
    margin: 0px;
}

.titles {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.green  {
    color: green;
}

.red    {
    color: red;
}

button  {
    margin-right: 10px;
}